*.iml
.gradle
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class

# Documentations & markdown files (does not affect project run)
*.md

# Editor and temporary folders
.vscode/
.kotlin/
