<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.app.learning.LearningApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learning">

        <!-- Splash screen (Launcher) -->
        <activity
            android:name="com.app.learning.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Portal -->
        <activity
            android:name="com.app.learning.ui.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.learning.ui.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.app.learning.ui.auth.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter android:label="Reset Password Link">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="vietsync"
                    android:host="reset-password" />
            </intent-filter>
        </activity>

        <!-- Main Portal (MainActivity) -->
        <activity
            android:name="com.app.learning.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />



        <!-- Background Token Refresh Service -->
        <service
            android:name="com.app.learning.data.api.TokenRefreshService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>